<div class="container-xl d-flex justify-content-between align-items-center">
    <ul class="nav nav-underline flex-column align-items-start my-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <p class="m-0" > Inicio</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <p class="m-0"> Contactanos</p>
        </a>
      </li>
    </ul>
    <div>
      <button type="button" class="btn btn-dark"><i class="fa-brands fa-x-twitter"></i></button>
      <button type="button" class="btn btn-dark"><i class="fa-brands fa-facebook-f"></i></button>
      <button type="button" class="btn btn-dark"><i class="fa-brands fa-instagram"></i></button>
      <button type="button" class="btn btn-dark"><i class="fa-brands fa-youtube"></i></button>
    </div>
</div>