<section>
    <p class="h1">Bienvenido a EcoTrack, tu calculadora de huella de carbono online</p>
    <p>En EcoTrack, te ayudamos a conocer y reducir tu impacto ambiental. Con nuestra herramienta, podrás calcular la cantidad de dióxido de carbono que emites a la atmósfera, por tus desplazamientos y calentar el agua.</p>
</section>
<section>
    <p class="h2 mt-5">¿Por qué calcular tu huella de carbono?</p>
    <p class="ps-5">Porque es una forma de tomar conciencia de tu contribución al cambio climático, un problema global que afecta a todos los seres vivos.</p>
    <p class="ps-5">Porque te motiva a adoptar un estilo de vida más sostenible, que beneficia al planeta.</p>
</section>
<section>
    <p class="h2 mt-5">¿Cómo funciona EcoTrack?</p>
    <p class="ps-5">Solo tienes que responder a unas sencillas preguntas sobre tu consumo de  gas para el calentador de agua y transporte.</p>
    <p class="ps-5">EcoTrack te mostrará el resultado de tu huella de carbono, expresado en kg de CO₂. Podrás saber tus emisiones totales y tus emisiones mensuales</p>
</section>
<section>
    <p class="h2 mt-5">¿A qué esperas para empezar a calcular tu huella de carbono con EcoTrack?</p>
    <p class="ps-5">Si quieres saber cuánto contaminas y cómo puedes reducirlo, no lo dudes más y prueba nuestra calculadora de huella de carbono. Es gratis, fácil y rápido. Solo tienes que hacer clic en Calcular Emisiones y seguir las instrucciones. ¡Te sorprenderás!</p>
</section>