
<div class="container-xl">
    <button class="navbar-toggler bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" id="nav-principal" routerLinkActive="active">
        <a class="nav-link active text-white hover-verde" aria-current="page" href="#"
            [routerLink]="['/inicio']">Inicio</a>
        <a class="nav-link text-white hover-verde" href="#"
            [routerLink]="['/calcular-emisiones']">Calcular emisiones</a>
        <a class="nav-link text-white hover-verde" href="#"
            [routerLink]="['/estadisticas']">Estadísticas</a>
        <a class="nav-link text-white hover-verde" href="#"
            [routerLink]="['/quienes-somos']">Quiénes somos</a>
    </div>
    </div>
</div>
