
<div class="container-xl">
    <button class="navbar-toggler bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" id="nav-principal">
        <a class="nav-link active text-white hover-verde" aria-current="page" href="#">Inicio</a>
        <a class="nav-link text-white hover-verde" href="#">Calcular emisiones</a>
        <a class="nav-link text-white hover-verde" href="#">Estadísticas</a>
        <a class="nav-link text-white hover-verde" href="#">Quiénes somos</a>
    </div>
    </div>
</div>
