<div class="container-xl d-flex justify-content-end">
    <a class="navbar-brand me-auto flex-grow-0" href="#">
    <img src="/assets/imagenes/locoeco.png" alt="Ecotrack" width="100">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <div class="input-group ms-2 me-5">
            <input type="text" class="form-control border-dark rounded-start-pill" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon2">
            <span class="input-group-text border-dark rounded-end-pill" id="basic-addon2"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></span>
            
        </div>

        <div class="d-flex justify-content-around my-3 my-sm-0">
            <button class="btn btn-outline-dark rounded-0 align-self-center" id="boton_is" type="submit">Iniciar Sesión</button>
            <button class="btn btn-dark rounded-0 ms-4" type="submit">Registrarse</button>
        </div>
    </div>
</div>
